<div class="mat-content" fxLayout="column" fxLayoutGap="20px">
  <mat-toolbar *ngIf="!selectedPort">
    <mat-toolbar-row>
      <span> Puertos disponibles </span>
      <span class="example-spacer"></span>
      <button mat-stroked-button (click)="listPorts()" [disabled]="selectedPort">Buscar</button>
    </mat-toolbar-row>
  </mat-toolbar>

  <div *ngIf="!selectedPort" fxLayout="row" fxLayoutGap="8px">
    <app-port *ngFor="let port of ports" [port]="port"> </app-port>
  </div>
  <div *ngIf="selectedPort" fxLayout fxLayoutAlign="end center" fxLayoutGap="8px">
    <span>
      {{ selectedPort }}
    </span>
    <button mat-stroked-button (click)="closePort()">Desconectar</button>
  </div>

  <mat-toolbar>
    Salas
  </mat-toolbar>
  <div fxLayout="row wrap" fxLayoutGap="8px">
    <app-room *ngFor="let room of rooms | async" [room]="room" [disabled]="!!selectedPort"> </app-room>
  </div>
</div>

<router-outlet></router-outlet>
